@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');



/* .start{
    position: relative;
}
.child{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.startBtn{
    display: none;
    font-family: Nosifer;
    scale: 3.5;
    border:none;
    border-radius: 2px;
    background-color: red;
};
.startBtn:hover, .reset:hover{
    background-color: black;
    transition: 1.5s;
    color: red;
    border: 1px solid red;
}; */